.container{
    text-align: center; 
    color: white;
    background-color: black;
}
.jumbotron{
background-image:url("../images/Dellapaz.png") ;
color: white;
}
.form{
    background-image: url("../images/pexels-miguel-á-padriñán-932262.jpg");
    background-size: auto;
}

